@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url('background_spotify.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
}

nav {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 0 12px;
}

nav .brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.4rem;
}

nav .brand img {
  width: 45px;
  padding: 5px;
}

.container {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 15px;
  width: 70%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.songList h1 {
  text-align: center;
  margin-bottom: 20px;
}

.songItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 34px;
  margin: 12px 0;
  padding: 10px;
}

.songItem img {
  width: 45px;
  margin-right: 10px;
  border-radius: 50%;
}

.songName {
  flex: 1;
  margin-left: 10px;
}

.songlistplay {
  display: flex;
  align-items: center;
}

.timestamp {
  margin-right: 20px;
}

.songItemPlay {
  cursor: pointer;
}

.bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.bottom input[type="range"] {
  width: 60%;
  margin: 0 20px;
}

.icons i {
  cursor: pointer;
}

.songInfo {
  display: flex;
  align-items: center;
}

.songInfo img {
  margin-right: 10px;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

#gif {
  width: 40px;
}

